@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0d1023;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 90px;
  border-top: 2px solid #5c5ce1;
}

.header_container_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.header_container_logo h1 {
  font-size: 50px;
  color: #fff;
}

.header_container_logo i {
  font-size: 30px;
  color: #fff;
  margin: 0 10px 0 10px;
}

.header_container_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.header_container_nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 0;
}

.activeNavbar {
  height: auto;
}

.header_container_nav_list li {
  padding: 10px;
  width: 100%;
}

.header_container_nav_list li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.header_container_form {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header_container {
    justify-content: flex-start;
    padding-left: 10px;
  }

  .header_container_logo {
    justify-content: center;
    width: auto;
  }

  .header_container_logo i {
    display: none;
  }

  .header_container_nav {
    width: auto;
    height: 90px;
    margin-left: 30px;
  }

  .header_container_nav_list {
    width: auto;
    height: 100%;
    background-color: #0d1023;
  }

  .header_container_nav_list li {
    width: auto;
  }
  .header_container_nav_list li a {
    cursor: pointer;
  }

  .header_container_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    position: absolute;
    right: 10px;
  }

  .header_container_form input {
    background-color: #181a31;
    border: none;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    width: 350px;
    font-size: 20px;
    color: #fff;
    outline: none;
  }

  .header_container_form input::placeholder {
    color: #fff;
  }
}
